#wrapper {
	margin: auto;
	width: 950px;
}


#logoindex {
	background-image: url(images/ic-logo.png);
    background-repeat: no-repeat;
    background-position: left top;
	background-size: 200px 90px;
	width: 200px;
	height: 90px;
	cursor: pointer;
	float: left;

}

#logo {
	background-image: url(images/ic-index.png);
    background-repeat: no-repeat;
    background-position: left top;
	width: 20px;
	height: 40px;
	cursor: pointer;
	float: left;
	margin-left: 30px;
}

#logo:hover {
	opacity: 0.8;
}

.fa-barchart:before {
	content: url(images/ic-barchart.png);
}

.fa-report:before {
	content: url(images/ic-text.png);
}

.fa-diagram:before {
	content: url(images/ic-class.png);
}

.fa-help:before {
	content: url(images/ic-help.png);
}



#id_image_large {
 /*   display: none;
}

#preview {
/*  position: absolute;
  top: 80px;
  left: 25px;
  width: 250px;
  height: 382px;
  overflow: hidden;
}

